.help_support_main{
    width: 100vw;
    height: 100vh;
    margin: 2rem;
}



.body_container{
    width: 80vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #DCE2EF; 
    border-radius:  14px;
    align-items: center;
    margin-top: 2rem;
}

.body_list{
    width: 90%;
    height: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title_txt{
    font-weight: 200;
}

    /* Portrait */
    @media only screen and (min-device-width: 360px) and (max-device-width: 740px) and (orientation: portrait) {

        .help_support_main{
            width: 100vw;
            height: 100vh;
            margin: 1rem;
        }
        
        .body_container{
            height: 25vh;
            width: 85vw;
            border: 2px solid #DCE2EF; 
            
        }
        .body_list{
            font-size: 0.8rem;
            font-weight: 600;
            margin-top: 0rem;  
        }
    }