.help_support_main{
    width: 100vw;
    height: 100vh;
    margin: 2rem;
}
.guide_text{
    width: 90%;
}
.guide_text p{
    margin-top: 2rem;
    line-height: 2;
   
    
}
.title_txt{
    font-weight: 200;
    font-size: 1.1rem;
}
.title{
    font-size: 21px;
}


@media only screen and (min-device-width: 360px) and (max-device-width: 740px) and (orientation: portrait) {

    .help_support_main{
        width: 100vw;
        height: 100vh;
        margin: 1rem;
    }
    .guide_text p{
        margin-top: 2rem;
        line-height: 2;
        font-size: 15px;
        
    }
}